<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpcPresortServer" value="S7:[RobotConnection1]" />
    <add key="RotitIp" value="192.168.5.1 " /> <!--PLC地址-->
    <add key="TwoProp" value="" /> <!--相机坐标原点拍摄的位置（以图像坐标左下角开始的起始坐标，0,0） 距离量测实物的圆心的距离(单位厘米)-->
    <add key="CamerRototVd" value="" />  <!--相机距离机器人垂直距离-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
