<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpcPresortServer" value="S7:[RobotConnection1]" />
    <add key="RotitIp" value="192.168.2.12" /> <!--PLC地址-->
    <add key="CameraIp1" value="192.168.2.13" /><!--相机1IP地址-->
    <add key="CameraIp2" value="192.168.2.14" /><!--相机2IP地址-->
    <add key="ComparisonInterval" value="10" /><!--距离排除区间 （两个坐标间距离小于区间，视为同一个温度点 排除）-->
    <add key="AngleInterval" value="0" />  <!--角度排除区间 （两个坐标间角度小于区间，视为同一个温度点 排除）-->
    <add key="ComparisonIntervalReal" value="10" /> <!--实际距离排除区间 （两个坐标间距离小于区间，视为同一个温度点 排除）-->
    <add key="AngleIntervalReal" value="0" /><!--实际角度排除区间 （两个坐标间角度小于区间，视为同一个温度点 排除）-->
    <add key="DetectionAccuracy" value="1" /> <!--检测精度（像素）， 默认1  有60*80个像素 精度越高时间越长-->
    <add key="SecCode" value="202CB962AC59075B964B07152D234B70" />
   <add key="CamerPixLenght" value="1" /> <!--相机像素长(请勿修改配置文件中的 相机像素长和宽-->
   <add key="CamerPixWidth" value="1" /> <!--相机像素宽-->
   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>