<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OpcPresortServer" value="S7:[RobotConnection1]" />
    <add key="RotitIp" value="192.168.2.12" /> <!--PLC地址-->
    <add key="CameraIp1" value="192.168.2.13" /> <!--相机1IP地址-->
    <add key="CameraIp2" value="192.168.2.14" /> <!--相机2IP地址-->
 
 
    <add key="ComparisonInterval" value="15" /><!--排除区间 （两个坐标间距离小于区间，视为同一个温度点 排除）-->
     <add key="DetectionAccuracy" value="1" /><!--检测精度（像素）， 默认1  有60*80个像素 精度越高时间越长-->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
